

body {
  padding-top: 0px;
  padding-left:0px;
  padding-right:10px;
}

.active {
	font-weight:bold;
	background-color:#CCC;
}

.btn-opaque {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.btn-selected {
	border: 2px solid #696969;
}

.sidebar {
	height:100%;
}

.abn-tree a {
	color:#5e5e5e;
}

.content {
	height:100%;border:1px solid #5e5e5e;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:5px;
	padding:0px;
}

.content-actions {
	display:none;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	background-color: #5e5e5e;
	border:1px solid #5e5e5e;
	float: right;
	margin-right:0px;
	color:white;
	font-weight:bold;
	padding:3px;
	cursor:pointer;
}

.content-action {
	margin:5px;
}

.header {
	font-size:24px;
}

.header-div {
	border-bottom:1px solid #5e5e5e;
}

.actions-span {
	float:right;
	height:35px;
	padding-top:10px;
	padding-left:10px;
	padding-right:5px;
	background-color:#5e5e5e;
	border-top-left-radius:5px;
	color:white;
}

.icon-button-large {
	font-size:24px;
	cursor:pointer;
}

.editor-container {
	width:100%;
	height:100%;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:5px;
}

.js-editor {
	width:100%;
	height:100%;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:5px;
}