<html style="margin:5px">
  <head>
  	<link rel="stylesheet" href="css/bootstrap.css">
  	<link rel="stylesheet" href="css/bootstrap-theme.css">
 	<link rel="stylesheet" href="css/freebase-ui.css">
 	<link rel="stylesheet" href="css/json-edit.css">

 	<script src="lib/jquery-min.js"></script>
 	<script src="lib/jquery-ui-min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-ui.js"></script>

 	<script type="text/javascript" src="http://127.0.0.1:8000/browser_client"></script>
    <script src="lib/angular/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular/angular-multi-sortable.js"></script>
    <script src="lib/json-edit.js"></script>
    <script src="lib/freebase-angular.js"></script>
   
	<script src="js/app.js"></script>

  </head>
  
  <body style="margin:5px" ng-app="freebase_ui_app">

	<div ng-controller="freebaseController" class="row">
	  <div class="col-md-3 sidebar" style="padding-right:0px">
	   <div class="header-div"><span class="header">Freebase Explorer</span>
	   	  <span class="dropdown actions-span">
			  <i href="#" class="dropdown-toggle glyphicon glyphicon-plus" data-toggle="dropdown"></i>
				 <ul class="dropdown-menu" >
		          <li><a style="cursor:pointer" ng-click="openNewModal('Project', 'project_new')">Project</a></li>
		          <li><a style="cursor:pointer" ng-click="openNewModal('Operation', 'operation_new')">Operation</a></li>
		          <li><a style="cursor:pointer" ng-click="openNewModal('Control', 'control_new')">Control</a></li>
		          <li><a style="cursor:pointer" ng-click="openNewModal('Shape', 'shape_new')">Shape</a></li>
		          <li><a style="cursor:pointer" ng-click="openNewModal('Feed', 'feed_new')">Feed</a></li>
		          <li><a style="cursor:pointer" ng-click="openNewModal('Flow', 'flow_new')">Flow</a></li>
		        </ul>
			</span>
	   </div>
	    <ul class="path-list">
		  	<li ng-repeat="path in rootPaths" ng-click="pathSelected(path)">{{path.path}}</li>
		  </ul>
	  </div>
	  <div class="col-md-9 content">
	 	<div style="margin:5px" class="jsonView" defocus><json child="selectedData" type="'object'"></json></div>
	  </div>
	</div>
	
	<div id="modalContent" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" style="height:60px">
	        <span class="modal-title label-dark" id="modalContentHeader" style="font-size:16px"></span>
	        <button type="button" class="btn btn-default" onclick='cancelModalContent()' style="float:right;margin-left:5px;">Cancel</button>
	        <button id="btnSave" type="button" class="btn btn-success" onclick='saveModalContent()' style="float:right;">Save</button>
	        <br>
	      </div>
	      <div class="modal-body">
	      	
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  </body>
</html>